<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ønskeøen</title>
    <link rel="stylesheet" th:href="@{/navbar.css}" href="../static/navbar.css">
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
    <style>
        .myDiv{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    </style>
</head>
<body>

<header>
    <nav>
        <div class="nav-wrapper">
            <img src="/images/peterp.png" alt="logo">
            <p class="title">Ønskeøen</p>
        </div>
    </nav>
</header>

<main>
    <h1 class="header"></h1>

<div class="myDiv">
    <div>
        <h2>Login</h2>
        <form method="POST" action="/checkUser">
            <label for="inputUsername">Username</label><br>
            <input type="text" id="inputUsername" name="username"><br>
            <label for="inputPassword">password</label><br>
            <input type="text" id="inputPassword" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </div>
    <div>
        <h2>Signup</h2>
        <form method="POST" action="/creatNewUser">
            <label for="newUsername">Username</label><br>
            <input type="text" id="newUsername" name="username"><br>
            <label for="newPassword">Password</label><br>
            <input type="text" id="newPassword" name="password"><br>
            <label for="firstname">First name</label><br>
            <input type="text" id="firstname" name="firstname"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
</main>

</body>
</html>